.bgMode {
  background: none;
  border: none;
  margin-right: 30px;
  font-size: 30px;
}

.sidebtn {
  background: none;
  border: none;
  font-size: 30px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 350px;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  list-style: none;
  background-color: #e1e1e1;
  margin: 3px 0;
  padding: 15px;
  font-size: 20px;
}
.sidebar ul li:hover {
  background-color: #9b9292;
  cursor: pointer;
}
.sidebtn {
  background: none;
  border: none;
  font-size: 30px;
}
