.active {
  font-weight: bolder;
}

.navbar {
  text-decoration: none;
  /* border: 2px solid black; */
}

.navStyle {
  list-style: none;
  /* border: 2px solid black; */
}

.x {
  background-color: rgba(179, 178, 178, 0.792);
  /* border: 2px solid black; */
}
